@import url(./Roboto/stylesheet.css);

body {
  width: 100%;
  background-color:black;
  min-width: 320px;
}

.page {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 0 10px 40px 10px;
}

.page::before {
  content : "";
  background: url(./image/page.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header {
  width: 100%;
  overflow: hidden;
}

.header__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F3E038;
}

.header__link {
  width: 180px;
  height: 50px;
  background-color: #F3E038;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}


.header__link-name {
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
  align-self: center;
  text-decoration: none;
}

.header__link-block {
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__ecs {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-top: 1px white solid;
  margin: 0;
}


.header__teeth {
  width: 60px;
  height: 80px;
  background-color: #F3E038;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px 5px 0px 0px;
}

.header__shdow {
  position: absolute;
  bottom: 0;
  margin:auto;
  text-align: center;
  height: 50px;
  width: 45px;
  border: 1px black solid;
}

.footer__shdow {
  margin: auto;
  text-align: center;
  height: 50px;
  width: 45px;
  border: 1px black solid;
}

.footer__teeth {
  width: 60px;
  height: 80px;
  background-color: #F3E038;
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
}

.header__title {
  position: relative;
    top: -60px;/*-155 */
    -moz-transition:1s;
    -webkit-transition:1s;
    -o-transition:1s;
    transition:1s;
}

.header:hover .header__title {
  top:0;
  cursor: pointer;
}

.rectangle-first-row {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
}

.rectangle-second-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.rectangle_black {
  width:250px;
  height: 350px;
  background-color: black;
}

.rectangle_yellow {
  height:250px;
  width: 350px;
  background-color: #F3E038;
}

.content__header {
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 89%;
  color: #F3E038;
  text-align: center;
  margin: 30 0 0 ;
}


.footer__esc {
  border-top: none;
  border-bottom: 1px solid white;
}

.footer {
  overflow: hidden;
}

.footer__title {
  position: relative;
    top: 140px;/*-155 */
    -moz-transition:1s;
    -webkit-transition:1s;
    -o-transition:1s;
    transition:1s;
    margin-bottom: 20px;
}

.footer:hover .footer__title {
  top:0;
  cursor: pointer;
}


.rectangle__name {
  font-weight: normal;
  font-size: 26px;
  line-height: 120%;;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}


.rectangle__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.rectangle__content:hover {
  cursor:pointer;
  opacity: 0.7;
}

.rectangle {
  margin: 60px auto 60px;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.rectangle__RZD {
  border-radius: 20px 20px 0 20px;
  position: relative;
  display: grid;
  position: relative;
}

.rectangle__name-rzd {
  position: absolute;
  top: 10px;
  right: 5px;
  text-align: end;
}

.rectangle__image-rzd {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.rectangle__name-build {
  position: absolute;
  top: 10px;
  left: 5px;
  text-align: start;
}

.rectangle__image-build {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.rectangle__name-net {
  position: absolute;
  top: 10px;
  right: 5px;
  text-align: end;
}

.rectangle__image-net {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.rectangle__name-ship {
  position: absolute;
  top: 10px;
  left: 5px;
  text-align: start;
}

.rectangle__image-ship {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.rectangle__ship {
  border-radius: 0 20px 20px 20px;
  position: relative;
}

.rectangle__build {
  border-radius: 20px 20px 20px 0;
  position: relative;
}

.rectangle__net {
  border-radius: 20px 0 20px 20px;
  position: relative;
}

.rectangle__RZD:hover {
 position: relative;
}

.rectangle__image:hover {
  opacity: 0.7
}

.rectangle__link {
  color: white;
  text-decoration: none;
}

.header__logo {
  margin-left: 10px;
}

.rectangle__RZD:hover::after {
  content: "";
  background-image: url(./image/rzd.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 20px 20px 0 20px;
}

.rectangle__build:hover::after {
  content: "";
  background-image: url(./image/build.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 20px 20px 20px 0px;
}

.rectangle__net:hover::after {
  content: "";
  background-image: url(./image/net.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 20px 20px 0 20px;
}

.rectangle__ship:hover::after {
  content: "";
  background-image: url(./image/ship.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 0 20px 20px 20px;
}

@media  screen and (max-width:1440px) {
  .footer__title {
    top: 160px;
  }

  .page {
    padding-bottom: 10px;
  }
}

@media  screen and (max-width:1100px) {
  .header__link {
    width: 140px;
  }

  .rectangle_black {
    width:200px;
    height: 250px;
  }

  .rectangle_yellow {
    height:200px;
    width: 250px;
  }

  .rectangle {
    width: 500px;
    height: 500px;
  }

  .rectangle__name {
    font-size: 20px;
  }
}

@media  screen and (max-width:780px) {
  .footer__title {
    top: 0px;
  }

  .header__title {
    top: 0px;
  }
  .content__header {
    font-size: 48px;
  }
  .header {
    padding-bottom: 5px;
  }

  .footer__shdow {
    height: 30px;
    width: 30px;
  }

  .footer__teeth {
    width: 40px;
    height: 60px;
  }

  .header__shdow {
    height: 30px;
    width: 30px;
  }

  .header__teeth {
    width: 40px;
    height: 60px;
  }

}

@media  screen and (max-width:580px) {
  .content__header {
    font-size: 36px;
  }
  .header__logo {
    font-size: 20px;
  }



  .page {
    padding: 10px 15px;
  }

  .rectangle__name-net {
    left: 5px;
    text-align: start;
  }

  .rectangle__image-net {
    right: 10px;
    left: auto;
  }

  .rectangle__name-ship {
    right: 5px;
    text-align: end;
  }

  .rectangle__image-ship {
    left: 10px;
  }

  .rectangle_black {
    width:360px;
    height: 130px;
  }

  .rectangle_yellow {
    width:360px;
    height: 130px;
  }
  .rectangle {
    margin: 50px auto 50px;
    width: 0px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.rectangle-first-row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.rectangle-second-row {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.rectangle__RZD {
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.rectangle__ship {
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.rectangle__build {
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.rectangle__net {
  border-radius: 20px 20px 20px 20px;
  position: relative;

}
}

@media  screen and (max-width:460px) {
  .rectangle_black {
    width:290px;
    height: 130px;
  }

  .footer__shdow {
    height: 25px;
    width: 18px;
  }

  .footer__teeth {
    width: 25px;
    height: 40px;
  }

  .header__shdow {
    height: 25px;
    width: 18px;
  }

  .header__teeth {
    width: 25px;
    height: 40px;
  }

  .rectangle_yellow {
    width:290px;
    height: 130px;
  }

  .rectangle__name {
    font-size: 18px;
  }
}
