@import url(./Roboto/stylesheet.css);

.page {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  padding: 0px 20px;
  margin: auto;
}

.header {
  margin: 30px auto 0;
  display: grid;
  grid-template-areas:
  "ship build net rzd"
  "ship spisok_1 spisok_1 spisok_1";
  justify-content: center;
  align-items: flex-start;
}

.header_active {
  width: 350px;
  height: 350px;
  padding-top: 10px;
}

.header_noactive {
  width: 350px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


.header__rzd{
  background-color: #F3E038;
  grid-area: rzd;
  position: relative;
}

.header__rzd:hover::after {
  content: "";
  background-image: url(../image/rzd.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header__rzd:hover {
  opacity: 0.4;
  cursor: pointer;
}

.header__ship {
  background-color: black;
  grid-area: ship;
  position: relative;
  opacity: 0.4;
}

.header__ship::after {
    content: "";
    background-image: url(../image/ship.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.header__net:hover {
  opacity: 0.4;
  cursor: pointer;
}

.header__net:hover::after {
    content: "";
    background-image: url(../image/build.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    position: absolute;
    z-index: -1;
}



.header__build:hover::after {
    content: "";
    background-image: url(../image/build.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.header__build:hover {
  opacity: 0.4;
  cursor: pointer;
}

.header__build {
  background-color: #F3E038;
  grid-area: build;
  position: relative;
}

.header__net {
  background-color: black;
  grid-area: net;
  position: relative;
}

.header__name {
  font-weight: normal;
  font-size: 30px;
  line-height: 130%;
  margin: auto;
  letter-spacing: -0.01em;
  text-align: center;
  color: #FFFFFF;
  align-self: center;
  text-align: center;
  text-decoration: none;
}

.header__name_active {
  font-size: 35px;
  text-align: end;
  position: absolute;
  right: 10px;
  top: 10px;
}

.header__icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.header__list-place {
  grid-area: spisok_1;
  display: flex;
  justify-content: space-around
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0 40px 0 0;
}

.header__list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 15px 10px;
  align-items: flex-end;
  max-width: 600px;
  width: 450px;
}

.header__list-name {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #000000;
  max-width: 550px;
  width: 400px;
}

.header__price {
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  color: #000000;
  margin: 0;
}

.header__list_third-column {
  grid-area: third;
}


.content__hard::after {
  background-image: url(../image/shipbac1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  z-index: -1;
  top:10px;
  left: -300px;
  right: 0;
  bottom: 0;
  opacity: 0.07;
}

.content__header {
  font-weight: normal;
  font-size: 42px;
  line-height: 105%;
  letter-spacing: 0.03em;
  margin: 0 0 0 20px;
  color: #000000;
  grid-area: text;
}

.content {
  margin-top: 120px;
  overflow: hidden;
}

.content__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 100%;
  color: #000000;
  grid-area: description;
  max-width: 600px;
  margin: 0;
}

.content__first {
  display: grid;
  grid-template-areas:
  "text image"
  "description image";
  justify-content: flex-end;
  align-items: flex-start;
}

.content__image {
   width: 800px;
   height: 400px;
   background-color: #C4C4C4;
   grid-area: image;
   margin-left: 60px;
   opacity: 0.4;
}

.content__logo-place {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.content__logo {
  object-fit: cover;
  object-position: center;
}

.content__second {
  display: grid;
  grid-template-areas:
  "image text"
  "image description";
  justify-content: flex-start;
  margin-top: 100px;
  align-items: flex-start;
}

.content__image_second {
  margin: 0 60px 0 0;
}



.title {
  font-weight: normal;
  font-size: 38px;
  line-height: 132%;
  color: #000000;
  margin: 150px 0 0;
  text-align: center;
  border-bottom: 1px black solid;
}

.title_active {
  font-weight: normal;
  font-size: 38px;
  line-height: 132%;
  color: #000000;
  margin: 150px 0 0;
  text-align: center;
  color: #F3E038;
}

.quiz__content {
  width: 400px;
  height: 400px;
  border: 1px green solid;
  margin: 30px auto;
}

.content__hard-place {
  position: relative;
  overflow: hidden;
}

.content__third{
  margin-top: 100px;
  display: grid;
  grid-template-areas:
  "text description"
  "image image";
  margin-bottom: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.content__third::after {
  background-image: url(../image/shipbac1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  z-index: -1;
  top:10px;
  left: 0;
  right: -1000px;
  bottom: 0;
  opacity: 0.07;

}

.content__condition {
  position: relative;
  overflow: hiddenS;
}

.content__image_third {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  margin-left: 0;
}

.content__header_third  {
  margin-right: 30px;
}

.footer {
  margin: 100px 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 0;
  text-decoration: none;
}

.footer__text:active {
  color: black;
}

.footer__text:visited {
  color: #000000;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__list-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  text-decoration: none;
}

.footer__list-item:visited {
  color: black;
}

.footer__list-item:first-child {
  margin-top: 10px;
}

.footer__social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__inst {
  width: 25px;
  height: 25px;
  background-image: url(../image/inst.svg);
  outline: none;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer_first {
  margin-top: 10px;
}

.footer__twit {
  width: 25px;
  height: 25px;
  background-image: url(../image/twit.svg);
  outline: none;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__fac {
  width: 25px;
  height: 25px;
  background-image: url(../image/fac.svg);
  outline: none;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__icon {
  margin-right: 20px;
}

.footer__icon-img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__list-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer__contact:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer__name:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media  screen and (max-width:1400px) {
  .header_active {
    width: 250px;
    height: 350px;
  }

  .header_noactive {
    width: 250px;
    height: 80px;
  }

  .header__name_active {
    font-size: 27px;
  }

  .header__name {
    font-size: 26px;
  }

  .content__image {
    width: 450px;
}

.content__header {
  font-size: 36px;
}

.header__list-item {
  max-width: 300px;
}

.header__list-name {
  max-width: 150px;
}

.content__image_third {
  height: 500px;
  margin-top: 0px;
}

.content__third {
  grid-template-areas:
      "text ."
      "image description";
  gap: 60px 20px;
}

.content__header_third {
   margin-right: 0px;
}

.footer {
  margin: 100px 10px 40px;
}

.footer__text {
  font-size: 16px;
}

.header__list:last-child {
  margin-right: 0;
}

@media  screen and (max-width:1000px) {
  .header_active {
    width: 180px;
    height: 350px;
  }

  .header_noactive {
    width: 180px;
    height: 60px;
  }
}

.header__list {
  margin: 0 20px 0 0;
}

.header__name {
  font-size: 19px;
}

.header__list-item {
  margin: 15px 10px;
  max-width: 240px;
}

.header__list-name {
  max-width: 190px;
}
.content__logo {
  width: 50px;
  height: 50px;
}

.content__header {
  font-size: 30px;
}
.content__text {
  font-size: 18px;
}

.content__image {
  width: 350px;
  height: 350px;
}

.title {
  font-size: 30px;
}

.title_active {
  font-size: 30px;
}

.footer__text {
  max-width: 120px;
  font-size: 14px;
}

.header__name {
  font-size: 15px;
}

.header__name_active {
  font-size: 23px;
}

}


@media  screen and (max-width:725px) {
  .page {
    padding: 20px 30px;
  }

  .header_active {
    width: 100%;
    height: 50px;
  }

  .header_noactive {
    width: calc(100% - 50px);
    height: 50px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .header__name_active {
    font-size: 19px;
    text-align: start;
    position: relative;
    margin-left: 20px;
}

.header__icon {
  position: absolute;
  right: 6px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  left: auto;
}

.header__list-name {
  max-width: 170px;
}

.header__list-place {
  justify-content: space-between;
  align-items: start;
  margin: auto;
}

.content__first {
  display: inline-block;
}

.content__logo-place {
  justify-content: center;
}

.content__text {
  margin-top: 40px;
}

.content__image {
  width: 0px;
  height: 0px;
}

.content__second {
  display: inline-block;
}

.content__hard::after {
  right: -50px;
}

.content__third::after {
  left: -300px;
}

.content__third {
  display: inline-block;
}

.footer__icon {
  margin-right: 10px;
}

.footer__icon-img {
  width: 20px;
  height: 20px;
}

.footer__icon:last-child {
  margin-right: 10px;

}
}

@media  screen and (max-width:574px) {
  .header__list-place {
    justify-content: center;
    flex-direction: column;
}

.page {
  padding: 20px 0px;
}

.header {
  margin-top: 10px;
}

.header__list-item {
  width: 280px;
  max-width: 100%;
}

.title {
  margin-top: 90px;
}

.header_noactive {
  width: calc(100% - 30px);
  height: 40px;
}

.header_active {
  height: 40px;
  padding: 0;
}

.header__name {
  font-size: 16px;
  line-height: 100%;
}

.header__icon {
  right: 2px;
  bottom: 5px;
  width: 30px;
  height: 30px;
}

.header__list-item:last-child {
  margin-bottom: 0;
}

.content__logo {
  width: 40px;
  height: 40px;
}

.content__header {
  font-size: 24px;
}

.content__text {
  font-size: 14px;
}

.footer{
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.footer__text {
  max-width: 100%;
}

}
